.question-body{
  //width: 100%;
  padding: 30px;
  margin: 50px 0;
  border: 1px solid #33363A;
  border-radius: 24px;

  h1{
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 20px;
  }
}
.answers{

}
.poll-question{
  margin-bottom: 10px;

  &__checkbox, &__radio{
    cursor: pointer;
    margin-right: 23.5px;
  }
}
.edit-menu{
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: 0.3px solid #33363A;
  margin-bottom: 20px;

  &-wrapper{
    display: flex;
    &__dropdown{
      display: flex;
      align-items: center;
      cursor: pointer;
      span{
        margin-right: 17px;
      }
      img{
        rotate: 90deg;
        transition: rotate .2s ease;
      }

      ul{
        position: absolute;
        background-color: white;
        padding: 20px 36px;
        border: 1px solid rgba(0, 0, 0, 0.5);
        border-radius: 12px;
        top: 40px;

        li{
          margin-bottom: 10px;

          &.active, &:hover{
            color: #1257D8;
          }
          &:last-child{
            margin-bottom: 0;
          }
        }
      }
    }
    h1{
       margin: 0 55px 0 0;
     }
  }
  .delete-btn{
    background-color: white;
    //padding: 8px 20px;
    //border: 1px solid #D81212;
    //border-radius: 8px;
    border: none;
    cursor: pointer;
    img{
      width: 22px;
      height: 24px;
    }
  }

}
