.lesson-title{
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 125%;
  letter-spacing: 0.02em;
  color: #000000;
}
.lesson-text{
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #33363A;
}
.lesson-video{
  width: 640px;
  height: 360px;
  border-radius: 16px;
  margin: 30px 0 50px 0;
  overflow: hidden;

}