.links a{
    text-decoration: none;
    color: #33363A;
    font-size: 20px;
    padding-bottom: 5px;

}

.links a:hover{
    border-bottom: 2px solid #1257D8;
}
.links img{
    margin: 0 24px;
}
.courses__inner{
    display: flex;
}
.courses-title{
    margin-top: 26px;
    margin-bottom: 35px;
    font-weight: bold;
    font-size: 42px;
}
.courses__inner-container{
    width: 740px;
}

.search-bar{
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: #f2f2f2;
    border-radius: 8px;;
    margin-bottom: 30px;
}


.search-bar-btn{
    display: flex;
    cursor: pointer;
    border: none;
    opacity: 0.8;
    transition: opacity .1s linear;
    background-color: transparent;
    margin-left: 30px;
    margin-right: 15px;
}
.search-bar-btn:hover{
    opacity: 0.9;
}
.search-bar-btn:active{
    opacity: 1;
}

.search-bar-input{
    opacity: 0.45;
    font-size: 18px;
    width: 100%;
    border: none;
    background-color: transparent;
}

.programs{
    display: flex;
    margin-bottom: 30px;
}
.programs h2{
    font-size: 24px;
    margin-right: 15px;
}

.programs p{
    font-size: 24px;
    opacity: 50%;
}

.courses-themes{
    box-sizing: border-box;
    border: 1px solid #B3B3B3;
    margin-left: 40px;
    width: 260px;
    height: 390px;
    border-radius: 14px;
    padding: 5px 20px 20px 20px;
}
.courses-themes__theme{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

}
.courses-themes__theme p{
    width: 100%;
    padding: 20px 0;
    border-bottom: 1px solid #B3B3B3;
}

.courses__cards{
    display: flex;
    flex-wrap: wrap;
    /*position: relative;*/
    justify-content: space-between;
}
